<?xml version="1.0" encoding="utf-8"?>
<form id="search-form" action="search.html" class="form form-horizontal">
  <div class="well well-sm">
    <div class="form-group">
      <div class="col-md-12 col-xs-12">
        <span class="input-group">
          <input name="query" type="search" class="templates:form-control form-control" placeholder="Search For What?"/>
          <span class="input-group-btn">
            <button id="f-btn-search" type="submit" class="sarit-search-btn btn">
              <span class="glyphicon glyphicon-search"/>
            </button>
          </span>
        </span>
        <input type="hidden" name="field" value="text"/>
      </div>
    </div>
    <div class="form-group" data-toggle="tooltip" data-placement="left" title="Search Which Document Part?">
      <div class="col-md-12 col-xs-12">
        <select multiple="multiple" name="tei-target" class="form-control" data-template="templates:form-control">
          <option value="tei-text" selected="selected">Search TEI Text</option>
          <option value="tei-header">Search TEI Header</option>
        </select>
      </div>
    </div>
    <div class="form-group" data-toggle="tooltip" data-placement="left" title="Search In Texts By Which Authors?">
      <div class="col-md-12 col-xs-12">
        <span class="app:work-authors"/>
      </div>
    </div>
    <div class="form-group" data-toggle="tooltip" data-placement="left" title="Search Narrowly Or Broadly?">
      <div class="col-md-12 col-xs-12">
        <select name="query-scope" class="form-control" data-template="templates:form-control">
          <option value="narrow" selected="selected">Perform Narrow Search</option>
          <option value="broad">Perform Broad Search</option>
        </select>
      </div>
    </div>
    <div id="bool-selection" class="form-group" data-toggle="tooltip" data-placement="left" title="Perform New Search or Continue Last Search?">
      <div class="col-md-12 col-xs-12">
        <select name="bool" class="form-control" data-template="templates:form-control">
          <option value="new" selected="selected">Perform New Search</option>
          <option value="and">AND Last Search</option>
          <option value="or">OR Last Search</option>
          <option value="not">NOT Last Search</option>
        </select>
      </div>
    </div>
  </div>
</form>
