<?xml version="1.0" encoding="utf-8"?>
<form id="search-form" action="search.html" class="form form-horizontal">
  <div class="well well-sm">
    <div class="form-group">
      <div class="col-md-12 col-xs-12">
        <span class="input-group">
          <input name="query" type="search" class="templates:form-control form-control" title="Search for what? You can enter the search terms in IAST, Devanāgarī, or Kyoto-Harvard." placeholder="Search term in IAST, Devanāgarī, or Kyoto-Harvard."/>
          <span class="input-group-btn">
            <button id="f-btn-search" type="submit" class="sarit-search-btn btn">
              <span class="glyphicon glyphicon-search"/>
            </button>
          </span>
        </span>
        <input type="hidden" name="field" value="text"/>
      </div>
    </div>
    <div class="form-group" data-toggle="tooltip" data-placement="left" title="Search in the text or metadata?">
      <div class="col-md-12 col-xs-12">
        <select multiple="multiple" name="tei-target" class="form-control" data-template="templates:form-control">
          <option value="tei-text" selected="selected">Search texts</option>
          <option value="tei-header">Search metadata</option>
        </select>
      </div>
    </div>
    <div class="form-group" data-toggle="tooltip" data-placement="left" title="Limit to certain authors?">
      <div class="col-md-12 col-xs-12">
        <span class="app:work-authors"/>
      </div>
    </div>
  </div>
</form>
